OsiriX_Lion.xcodeproj/xcuserdata/
OsiriX_Lion.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace
*.DS_Store
__MACOSX/
build/
Binaries
AYDicomPrint/
AYDicomPrint/xercesc
AYDicomPrint/libxerces-c.27.dylib
AYDicomPrint/libdcmprintscu.dylib

*.xcscheme

nitrogen/Nitrogen.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
